<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>快兔网盘</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ShareHandler</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.file-url</string>
				<string>public.image</string>
				<string>public.text</string>
				<string>public.movie</string>
				<string>public.url</string>
				<string>public.data</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
	</array>
	<key>CFBundleName</key>
	<string>desk_cloud</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.payne.disk.cloud</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>diskcloud</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb4177890682</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent102352379</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tobiasdeskCloud</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx38cd8f1f24d82458</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ShareMedia-$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>tim</string>
		<string>mqqopensdknopasteboard</string>
		<string>mqqopensdknopasteboardios16</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqgamebindinggroup</string>
		<string>mqqopensdkavatar</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdklaunchminiapp</string>
		<string>mqzone</string>
		<string>tencentapi.qq.reqContent</string>
		<string>tencentapi.qzone.reqContent</string>
		<string>mqqthirdappgroup</string>
		<string>mqqopensdkminiapp</string>
		<string>alipays</string>
		<string>weibosdk</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>wechat</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>应用程序需要访问您的蓝牙权限用以设备数据读取和发送</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>应用程序需要访问您的蓝牙权限用以设备数据读取和发送</string>
	<key>NSCameraUsageDescription</key>
	<string>应用程序需要访问您的相机以拍摄照片或视频用于上传图片</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>应用程序需要访问您的文件用于上传</string>
	<key>NSFileProviderPresenceUsageDescription</key>
	<string>应用程序需要访问您的文件用于上传</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>相册权限将用于提供相册下载、文件传输、分享等功能</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>相册权限将用于提供相册下载、文件传输、分享等功能</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
</dict>
</plist>
